.row
  .col-sm-8.col-sm-offset-2
    .text-center
      %h2= t('.change_your_password')
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-section' }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      .form-group
        = f.input :password, autofocus: true, label: t('.new_password'), hint: t('devise.shared.minimum_password_length', count: @minimum_password_length)
      .form-group
        = f.input :password_confirmation, autocomplete: 'off', label: t('.confirm_new_password')
      .form-group
        = f.submit t('.change_my_password'), class: 'btn btn-primary btn-block btn-lg'
