.row
  .col-sm-8.col-sm-offset-2
    .text-center
      %h2 Qiitan にログイン
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-section' }) do |f|
      .form-group
        = f.input :email, autofocus: true, autocomplete: :email, required: false
        = f.input :password, autocomplete: 'current-password'
      - if devise_mapping.rememberable?
        .form-group.form-check
          = f.check_box :remember_me, class: 'form-check-input'
          = f.label :remember_me, class: 'form-check-label' do
            = resource.class.human_attribute_name('remember_me')
      .form-group
        = f.submit 'Qiitan にログイン', class: 'btn btn-primary btn-block btn-lg'
      = render 'devise/shared/links'
